.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/settings.json
build/.last-used
build/AtomButton.ino.bin
build/AtomButton.ino.bootloader.bin
build/AtomButton.ino.elf
build/AtomButton.ino.map
build/AtomButton.ino.partitions.bin
build/build_opt.h
build/build.options.json
build/compile_commands.json
build/file_opts
build/includes.cache
build/libraries.cache
build/partitions.csv
build/core/base64.cpp.d
build/core/base64.cpp.o
build/core/cbuf.cpp.d
build/core/cbuf.cpp.o
build/core/core.a
build/core/Esp.cpp.d
build/core/Esp.cpp.o
build/core/esp32-hal-adc.c.d
build/core/esp32-hal-adc.c.o
build/core/esp32-hal-bt.c.d
build/core/esp32-hal-bt.c.o
build/core/esp32-hal-cpu.c.d
build/core/esp32-hal-cpu.c.o
build/core/esp32-hal-dac.c.d
build/core/esp32-hal-dac.c.o
build/core/esp32-hal-gpio.c.d
build/core/esp32-hal-gpio.c.o
build/core/esp32-hal-i2c-slave.c.d
build/core/esp32-hal-i2c-slave.c.o
build/core/esp32-hal-i2c.c.d
build/core/esp32-hal-i2c.c.o
build/core/esp32-hal-ledc.c.d
build/core/esp32-hal-ledc.c.o
build/core/esp32-hal-matrix.c.d
build/core/esp32-hal-matrix.c.o
build/core/esp32-hal-misc.c.d
build/core/esp32-hal-misc.c.o
build/core/esp32-hal-psram.c.d
build/core/esp32-hal-psram.c.o
build/core/esp32-hal-rgb-led.c.d
build/core/esp32-hal-rgb-led.c.o
build/core/esp32-hal-rmt.c.d
build/core/esp32-hal-rmt.c.o
build/core/esp32-hal-sigmadelta.c.d
build/core/esp32-hal-sigmadelta.c.o
build/core/esp32-hal-spi.c.d
build/core/esp32-hal-spi.c.o
build/core/esp32-hal-time.c.d
build/core/esp32-hal-time.c.o
build/core/esp32-hal-timer.c.d
build/core/esp32-hal-timer.c.o
build/core/esp32-hal-tinyusb.c.d
build/core/esp32-hal-tinyusb.c.o
build/core/esp32-hal-touch.c.d
build/core/esp32-hal-touch.c.o
build/core/esp32-hal-uart.c.d
build/core/esp32-hal-uart.c.o
build/core/firmware_msc_fat.c.d
build/core/firmware_msc_fat.c.o
build/core/FirmwareMSC.cpp.d
build/core/FirmwareMSC.cpp.o
build/core/FunctionalInterrupt.cpp.d
build/core/FunctionalInterrupt.cpp.o
build/core/HardwareSerial.cpp.d
build/core/HardwareSerial.cpp.o
build/core/HWCDC.cpp.d
build/core/HWCDC.cpp.o
build/core/IPAddress.cpp.d
build/core/IPAddress.cpp.o
build/core/IPv6Address.cpp.d
build/core/IPv6Address.cpp.o
build/core/main.cpp.d
build/core/main.cpp.o
build/core/MD5Builder.cpp.d
build/core/MD5Builder.cpp.o
build/core/Print.cpp.d
build/core/Print.cpp.o
build/core/stdlib_noniso.c.d
build/core/stdlib_noniso.c.o
build/core/Stream.cpp.d
build/core/Stream.cpp.o
build/core/StreamString.cpp.d
build/core/StreamString.cpp.o
build/core/Tone.cpp.d
build/core/Tone.cpp.o
build/core/USB.cpp.d
build/core/USB.cpp.o
build/core/USBCDC.cpp.d
build/core/USBCDC.cpp.o
build/core/USBMSC.cpp.d
build/core/USBMSC.cpp.o
build/core/wiring_pulse.c.d
build/core/wiring_pulse.c.o
build/core/wiring_shift.c.d
build/core/wiring_shift.c.o
build/core/WMath.cpp.d
build/core/WMath.cpp.o
build/core/WString.cpp.d
build/core/WString.cpp.o
build/core/libb64/cdecode.c.d
build/core/libb64/cdecode.c.o
build/core/libb64/cencode.c.d
build/core/libb64/cencode.c.o
build/libraries/ESP32TinyUSB/esptinyusb.cpp.d
build/libraries/ESP32TinyUSB/esptinyusb.cpp.o
build/libraries/ESP32TinyUSB/usb_descriptors.cpp.d
build/libraries/ESP32TinyUSB/usb_descriptors.cpp.o
build/libraries/ESP32TinyUSB/device/cdc/cdcusb.cpp.d
build/libraries/ESP32TinyUSB/device/cdc/cdcusb.cpp.o
build/libraries/ESP32TinyUSB/device/dfu/dfuusb.cpp.d
build/libraries/ESP32TinyUSB/device/dfu/dfuusb.cpp.o
build/libraries/ESP32TinyUSB/device/hid/hidcomposite.cpp.d
build/libraries/ESP32TinyUSB/device/hid/hidcomposite.cpp.o
build/libraries/ESP32TinyUSB/device/hid/hidgamepad.cpp.d
build/libraries/ESP32TinyUSB/device/hid/hidgamepad.cpp.o
build/libraries/ESP32TinyUSB/device/hid/hidgeneric.cpp.d
build/libraries/ESP32TinyUSB/device/hid/hidgeneric.cpp.o
build/libraries/ESP32TinyUSB/device/hid/hidkeyboard.cpp.d
build/libraries/ESP32TinyUSB/device/hid/hidkeyboard.cpp.o
build/libraries/ESP32TinyUSB/device/hid/hidmouse.cpp.d
build/libraries/ESP32TinyUSB/device/hid/hidmouse.cpp.o
build/libraries/ESP32TinyUSB/device/hid/hidusb.cpp.d
build/libraries/ESP32TinyUSB/device/hid/hidusb.cpp.o
build/libraries/ESP32TinyUSB/device/midi/midiusb.cpp.d
build/libraries/ESP32TinyUSB/device/midi/midiusb.cpp.o
build/libraries/ESP32TinyUSB/device/msc/flashdisk.cpp.d
build/libraries/ESP32TinyUSB/device/msc/flashdisk.cpp.o
build/libraries/ESP32TinyUSB/device/msc/mscusb.cpp.d
build/libraries/ESP32TinyUSB/device/msc/mscusb.cpp.o
build/libraries/ESP32TinyUSB/device/msc/ramdisk.cpp.d
build/libraries/ESP32TinyUSB/device/msc/ramdisk.cpp.o
build/libraries/ESP32TinyUSB/device/msc/sdcard.cpp.d
build/libraries/ESP32TinyUSB/device/msc/sdcard.cpp.o
build/libraries/ESP32TinyUSB/device/web/webusb.cpp.d
build/libraries/ESP32TinyUSB/device/web/webusb.cpp.o
build/libraries/ESP32TinyUSB/host/acm/usb_acm.cpp.d
build/libraries/ESP32TinyUSB/host/acm/usb_acm.cpp.o
build/libraries/ESP32TinyUSB/host/common/usb_device.cpp.d
build/libraries/ESP32TinyUSB/host/common/usb_device.cpp.o
build/libraries/ESP32TinyUSB/host/common/usb_host.cpp.d
build/libraries/ESP32TinyUSB/host/common/usb_host.cpp.o
build/libraries/ESP32TinyUSB/host/msc/usb_msc.cpp.d
build/libraries/ESP32TinyUSB/host/msc/usb_msc.cpp.o
build/libraries/ESP32TinyUSB/host/msc/vfs/diskio_rawmsc.cpp.d
build/libraries/ESP32TinyUSB/host/msc/vfs/diskio_rawmsc.cpp.o
build/libraries/FS/FS.cpp.d
build/libraries/FS/FS.cpp.o
build/libraries/FS/vfs_api.cpp.d
build/libraries/FS/vfs_api.cpp.o
build/libraries/M5GFX/M5GFX.cpp.d
build/libraries/M5GFX/M5GFX.cpp.o
build/libraries/M5GFX/lgfx/Fonts/efont/lgfx_efont_cn.c.d
build/libraries/M5GFX/lgfx/Fonts/efont/lgfx_efont_cn.c.o
build/libraries/M5GFX/lgfx/Fonts/efont/lgfx_efont_ja.c.d
build/libraries/M5GFX/lgfx/Fonts/efont/lgfx_efont_ja.c.o
build/libraries/M5GFX/lgfx/Fonts/efont/lgfx_efont_kr.c.d
build/libraries/M5GFX/lgfx/Fonts/efont/lgfx_efont_kr.c.o
build/libraries/M5GFX/lgfx/Fonts/efont/lgfx_efont_tw.c.d
build/libraries/M5GFX/lgfx/Fonts/efont/lgfx_efont_tw.c.o
build/libraries/M5GFX/lgfx/Fonts/IPA/lgfx_font_japan.c.d
build/libraries/M5GFX/lgfx/Fonts/IPA/lgfx_font_japan.c.o
build/libraries/M5GFX/lgfx/utility/lgfx_pngle.c.d
build/libraries/M5GFX/lgfx/utility/lgfx_pngle.c.o
build/libraries/M5GFX/lgfx/utility/lgfx_qoi.c.d
build/libraries/M5GFX/lgfx/utility/lgfx_qoi.c.o
build/libraries/M5GFX/lgfx/utility/lgfx_qrcode.c.d
build/libraries/M5GFX/lgfx/utility/lgfx_qrcode.c.o
build/libraries/M5GFX/lgfx/utility/lgfx_tjpgd.c.d
build/libraries/M5GFX/lgfx/utility/lgfx_tjpgd.c.o
build/libraries/M5GFX/lgfx/utility/miniz.c.d
build/libraries/M5GFX/lgfx/utility/miniz.c.o
build/libraries/M5GFX/lgfx/v1/LGFX_Button.cpp.d
build/libraries/M5GFX/lgfx/v1/LGFX_Button.cpp.o
build/libraries/M5GFX/lgfx/v1/lgfx_fonts.cpp.d
build/libraries/M5GFX/lgfx/v1/lgfx_fonts.cpp.o
build/libraries/M5GFX/lgfx/v1/LGFX_Sprite.cpp.d
build/libraries/M5GFX/lgfx/v1/LGFX_Sprite.cpp.o
build/libraries/M5GFX/lgfx/v1/LGFXBase.cpp.d
build/libraries/M5GFX/lgfx/v1/LGFXBase.cpp.o
build/libraries/M5GFX/lgfx/v1/misc/common_function.cpp.d
build/libraries/M5GFX/lgfx/v1/misc/common_function.cpp.o
build/libraries/M5GFX/lgfx/v1/misc/DividedFrameBuffer.cpp.d
build/libraries/M5GFX/lgfx/v1/misc/DividedFrameBuffer.cpp.o
build/libraries/M5GFX/lgfx/v1/misc/pixelcopy.cpp.d
build/libraries/M5GFX/lgfx/v1/misc/pixelcopy.cpp.o
build/libraries/M5GFX/lgfx/v1/misc/SpriteBuffer.cpp.d
build/libraries/M5GFX/lgfx/v1/misc/SpriteBuffer.cpp.o
build/libraries/M5GFX/lgfx/v1/panel/Panel_Device.cpp.d
build/libraries/M5GFX/lgfx/v1/panel/Panel_Device.cpp.o
build/libraries/M5GFX/lgfx/v1/panel/Panel_FrameBufferBase.cpp.d
build/libraries/M5GFX/lgfx/v1/panel/Panel_FrameBufferBase.cpp.o
build/libraries/M5GFX/lgfx/v1/panel/Panel_GDEW0154D67.cpp.d
build/libraries/M5GFX/lgfx/v1/panel/Panel_GDEW0154D67.cpp.o
build/libraries/M5GFX/lgfx/v1/panel/Panel_GDEW0154M09.cpp.d
build/libraries/M5GFX/lgfx/v1/panel/Panel_GDEW0154M09.cpp.o
build/libraries/M5GFX/lgfx/v1/panel/Panel_HasBuffer.cpp.d
build/libraries/M5GFX/lgfx/v1/panel/Panel_HasBuffer.cpp.o
build/libraries/M5GFX/lgfx/v1/panel/Panel_IT8951.cpp.d
build/libraries/M5GFX/lgfx/v1/panel/Panel_IT8951.cpp.o
build/libraries/M5GFX/lgfx/v1/panel/Panel_LCD.cpp.d
build/libraries/M5GFX/lgfx/v1/panel/Panel_LCD.cpp.o
build/libraries/M5GFX/lgfx/v1/panel/Panel_M5HDMI.cpp.d
build/libraries/M5GFX/lgfx/v1/panel/Panel_M5HDMI.cpp.o
build/libraries/M5GFX/lgfx/v1/panel/Panel_M5UnitGLASS.cpp.d
build/libraries/M5GFX/lgfx/v1/panel/Panel_M5UnitGLASS.cpp.o
build/libraries/M5GFX/lgfx/v1/panel/Panel_M5UnitLCD.cpp.d
build/libraries/M5GFX/lgfx/v1/panel/Panel_M5UnitLCD.cpp.o
build/libraries/M5GFX/lgfx/v1/panel/Panel_SSD1306.cpp.d
build/libraries/M5GFX/lgfx/v1/panel/Panel_SSD1306.cpp.o
build/libraries/M5GFX/lgfx/v1/platforms/esp32/Bus_I2C.cpp.d
build/libraries/M5GFX/lgfx/v1/platforms/esp32/Bus_I2C.cpp.o
build/libraries/M5GFX/lgfx/v1/platforms/esp32/Bus_Parallel8.cpp.d
build/libraries/M5GFX/lgfx/v1/platforms/esp32/Bus_Parallel8.cpp.o
build/libraries/M5GFX/lgfx/v1/platforms/esp32/Bus_SPI.cpp.d
build/libraries/M5GFX/lgfx/v1/platforms/esp32/Bus_SPI.cpp.o
build/libraries/M5GFX/lgfx/v1/platforms/esp32/common.cpp.d
build/libraries/M5GFX/lgfx/v1/platforms/esp32/common.cpp.o
build/libraries/M5GFX/lgfx/v1/platforms/esp32/Light_PWM.cpp.d
build/libraries/M5GFX/lgfx/v1/platforms/esp32/Light_PWM.cpp.o
build/libraries/M5GFX/lgfx/v1/platforms/esp32/Panel_CVBS.cpp.d
build/libraries/M5GFX/lgfx/v1/platforms/esp32/Panel_CVBS.cpp.o
build/libraries/M5GFX/lgfx/v1/platforms/esp32c3/Bus_Parallel8.cpp.d
build/libraries/M5GFX/lgfx/v1/platforms/esp32c3/Bus_Parallel8.cpp.o
build/libraries/M5GFX/lgfx/v1/platforms/esp32s2/Bus_Parallel8.cpp.d
build/libraries/M5GFX/lgfx/v1/platforms/esp32s2/Bus_Parallel8.cpp.o
build/libraries/M5GFX/lgfx/v1/platforms/esp32s2/Bus_Parallel16.cpp.d
build/libraries/M5GFX/lgfx/v1/platforms/esp32s2/Bus_Parallel16.cpp.o
build/libraries/M5GFX/lgfx/v1/platforms/esp32s3/Bus_Parallel8.cpp.d
build/libraries/M5GFX/lgfx/v1/platforms/esp32s3/Bus_Parallel8.cpp.o
build/libraries/M5GFX/lgfx/v1/platforms/esp32s3/Bus_Parallel16.cpp.d
build/libraries/M5GFX/lgfx/v1/platforms/esp32s3/Bus_Parallel16.cpp.o
build/libraries/M5GFX/lgfx/v1/platforms/framebuffer/common.cpp.d
build/libraries/M5GFX/lgfx/v1/platforms/framebuffer/common.cpp.o
build/libraries/M5GFX/lgfx/v1/platforms/framebuffer/Panel_fb.cpp.d
build/libraries/M5GFX/lgfx/v1/platforms/framebuffer/Panel_fb.cpp.o
build/libraries/M5GFX/lgfx/v1/platforms/sdl/common.cpp.d
build/libraries/M5GFX/lgfx/v1/platforms/sdl/common.cpp.o
build/libraries/M5GFX/lgfx/v1/platforms/sdl/Panel_sdl.cpp.d
build/libraries/M5GFX/lgfx/v1/platforms/sdl/Panel_sdl.cpp.o
build/libraries/M5GFX/lgfx/v1/touch/Touch_CST816S.cpp.d
build/libraries/M5GFX/lgfx/v1/touch/Touch_CST816S.cpp.o
build/libraries/M5GFX/lgfx/v1/touch/Touch_FT5x06.cpp.d
build/libraries/M5GFX/lgfx/v1/touch/Touch_FT5x06.cpp.o
build/libraries/M5GFX/lgfx/v1/touch/Touch_GT911.cpp.d
build/libraries/M5GFX/lgfx/v1/touch/Touch_GT911.cpp.o
build/libraries/M5Unified/M5Unified.cpp.d
build/libraries/M5Unified/M5Unified.cpp.o
build/libraries/M5Unified/utility/AXP192_Class.cpp.d
build/libraries/M5Unified/utility/AXP192_Class.cpp.o
build/libraries/M5Unified/utility/AXP2101_Class.cpp.d
build/libraries/M5Unified/utility/AXP2101_Class.cpp.o
build/libraries/M5Unified/utility/Button_Class.cpp.d
build/libraries/M5Unified/utility/Button_Class.cpp.o
build/libraries/M5Unified/utility/I2C_Class.cpp.d
build/libraries/M5Unified/utility/I2C_Class.cpp.o
build/libraries/M5Unified/utility/IMU_Class.cpp.d
build/libraries/M5Unified/utility/IMU_Class.cpp.o
build/libraries/M5Unified/utility/INA3221_Class.cpp.d
build/libraries/M5Unified/utility/INA3221_Class.cpp.o
build/libraries/M5Unified/utility/IP5306_Class.cpp.d
build/libraries/M5Unified/utility/IP5306_Class.cpp.o
build/libraries/M5Unified/utility/Log_Class.cpp.d
build/libraries/M5Unified/utility/Log_Class.cpp.o
build/libraries/M5Unified/utility/M5Timer.cpp.d
build/libraries/M5Unified/utility/M5Timer.cpp.o
build/libraries/M5Unified/utility/Mic_Class.cpp.d
build/libraries/M5Unified/utility/Mic_Class.cpp.o
build/libraries/M5Unified/utility/Power_Class.cpp.d
build/libraries/M5Unified/utility/Power_Class.cpp.o
build/libraries/M5Unified/utility/RTC8563_Class.cpp.d
build/libraries/M5Unified/utility/RTC8563_Class.cpp.o
build/libraries/M5Unified/utility/Speaker_Class.cpp.d
build/libraries/M5Unified/utility/Speaker_Class.cpp.o
build/libraries/M5Unified/utility/Touch_Class.cpp.d
build/libraries/M5Unified/utility/Touch_Class.cpp.o
build/libraries/M5Unified/utility/imu/AK8963_Class.cpp.d
build/libraries/M5Unified/utility/imu/AK8963_Class.cpp.o
build/libraries/M5Unified/utility/imu/BMI270_Class.cpp.d
build/libraries/M5Unified/utility/imu/BMI270_Class.cpp.o
build/libraries/M5Unified/utility/imu/BMM150_Class.cpp.d
build/libraries/M5Unified/utility/imu/BMM150_Class.cpp.o
build/libraries/M5Unified/utility/imu/IMU_Base.cpp.d
build/libraries/M5Unified/utility/imu/IMU_Base.cpp.o
build/libraries/M5Unified/utility/imu/MPU6886_Class.cpp.d
build/libraries/M5Unified/utility/imu/MPU6886_Class.cpp.o
build/libraries/M5Unified/utility/imu/SH200Q_Class.cpp.d
build/libraries/M5Unified/utility/imu/SH200Q_Class.cpp.o
build/libraries/SD/sd_diskio_crc.c.d
build/libraries/SD/sd_diskio_crc.c.o
build/libraries/SD/sd_diskio.cpp.d
build/libraries/SD/sd_diskio.cpp.o
build/libraries/SD/SD.cpp.d
build/libraries/SD/SD.cpp.o
build/libraries/SPI/SPI.cpp.d
build/libraries/SPI/SPI.cpp.o
build/preproc/ctags_target_for_gcc_minus_e.cpp
build/sketch/AtomButton.ino.cpp
build/sketch/AtomButton.ino.cpp.d
build/sketch/AtomButton.ino.cpp.o
build/sketch/.vscode/arduino.json
build/sketch/.vscode/c_cpp_properties.json
build/sketch/.vscode/settings.json
